/* 커스텀 폰트 등록 */
@font-face {
  font-family: 'Nostalgia';
  src: url('/font/nostalgia.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


h1 {
  font-family: 'Nostalgia', monospace;
}
